
html {
    height: 100%;
}


body {
    background-color: gray;
    background-image: url(background-adare-restaurant.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    margin-left:auto;
    margin-right:auto;
    width: 1024px;
}


header {
    text-align: center;
    height: 118px;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
    padding-right: 240px;
    padding-left: 240px;

}


footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

a 
{
    font-size: 18px;
    color: white;
    font-family: Helvetica; 
}

/*--Compound selector */
nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.maps
{
    padding-bottom: 50px;
}